.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    grid-auto-flow: row;
    margin: 50px;
    padding: 50px;
}

.info-col {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 25px;

}

.platform-container {
    display: flex;
    flex-direction: row;
}

.platform-container>ul {
    list-style: none;
}

.platform-container>ul li {
    display: inline;
    padding: 10px;
}


.name-container {}